@import '~antd/dist/antd.css';

/* 设置滚动条样式 */
::-webkit-scrollbar{
    width: 3px;
    height: 5px;
    position: absolute;
}

::-webkit-scrollbar-thumb{
    background-color: #23272E;
}

::-webkit-scrollbar-track{
    background: #ddd;
}